{% extends "layouts/base1.html" %}

{% block title %}Aperture{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
		<div class="page-inner">
			<!-- Customized Card -->
            {% if corrected_flag %}
                <h2><span class="text-danger">Did You Mean ???  &nbsp; &nbsp;</span><span class="text-warning">{{DidYouMean}}</span></h2>
                <h4>Showing Results for <b class="text-primary">{{DidYouMean}}</b></h4>
            {% endif %}
			<div class="row">
                {% for pic in img %}
                <div class="col-md-4">
                    <div class="card card-post card-round">
                        <a href="/image/{{pic.id}}/">
                            <img class="card-img-top" src="{{pic.image.url}}" alt="Card image cap">
                        </a>
                        <div class="card-body text-center">
                            <div class="text-center">
								{% for cap in pic.caption.all %}
								<p>{{cap.description}}</p>
								{% endfor %}
							</div>
							<div class="separator-solid"></div>
                            <button class="btn btn-rounded btn-success btn-sm mt-1">Views: {{pic.count_view}}</button>
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    {% for t in pic.tag.all %}
                                    <a href="/tag_click_search/{{t.id}}/" class="btn btn-rounded btn-primary btn-sm mt-1">{{t.tag_name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
				
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}