{% extends "layouts/base1.html" %}

{% block title %}Add Image{% endblock title %}
{% load widget_tweaks %}
{% block content %}
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Single Image Upload</h4>
            <form method="POST" enctype="multipart/form-data" action="/contribute/">
                {% csrf_token %}
                {% for field in form %}
                    {{field|add_class:"form-control"|attr:"onchange:readURL(this)"}}
                {% endfor %}
                <button type="submit" value="Upload" class="btn btn-primary btn-md mt-5">Upload</button>
            </form>
            
            <div class="col-md-4 mt-5">
                <div class="card card-post card-round" id="imageview" style="display: none;">
                    <img id="blah" class="card-img-top" src="#" alt="Card image cap">
                </div>
            </div>
            <h4 class="page-title">Multiple Image Upload</h4>
            <form method="POST" enctype="multipart/form-data" action="/multiple_upload/">
                {% csrf_token %}
                <input type="file" name="uploaded_images" multiple class="form-control" id="multiple_files" required accept="image/*">
                <button type="submit" id="multi_btn" class="btn btn-primary btn-md mt-5">Upload Multiple Images</button>
            </form>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
<script src="/static/assets/js/setting-demo.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                var x = document.getElementById("imageview");
                x.style.display = "flex";
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#multiple_files").on("change", function(){
        if($("#multiple_files")[0].files.length > 5){
            alert("You can select only 5 images due to API limitations");
            $("#multi_btn").attr("disabled", true);
        }
        else{
            $("#multi_btn").removeAttr("disabled");
        }
    });
</script>
{% endblock javascripts %}