{% extends "layouts/base1.html" %}

{% block title %}Aperture{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
		<div class="page-inner">
			<!-- Customized Card -->
			<h4 class="page-title">Customized Card</h4>
			<div class="row">
                {% for pic in img %}
                <div class="col-md-4">
                    <div class="card card-post card-round">
                        <a href="/image/{{pic.id}}/">
                            <img class="card-img-top" src="{{pic.image.url}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    {% for t in pic.tag.all %}
                                    <a href="/tag_click_search/{{t.id}}/" class="btn btn-rounded btn-primary btn-sm mt-1">{{t.tag_name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
				
			</div>
		</div>
        {% if pages %}
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link btn-primary text-white" href="#">Previous</a></li>
                  {% for pg in pages %}
                    <li class="page-item"><a class="page-link btn-primary text-white" href="/?pg={{pg}}">{{ pg }}</a></li>
                  {% endfor %}
                  <li class="page-item"><a class="page-link btn-primary text-white" href="#">Next</a></li>
                </ul>
              </nav>              
        </div>
        {% endif %}
	</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}