<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">	
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">

        {% if request.user.is_authenticated %}	
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {{ request.user.username }}
                            <span class="user-level">
                                {{ request.user.email }}
                            </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a  href="{% url 'home' %}">
                        <i class="fas fa-home"></i>
                        <p>Browse</p>
                    </a>
                    <a href="{% url 'ImageContribute' %}">
                        <i class="fas fa-upload"></i>
                        <p>Contribute</p>
                    </a>
                    <a href="{% url 'recently_uploaded' %}">
                        <i class="fas fa-clock"></i>
                        <p>Recently Uploaded</p>
                    </a>
                    <a href="{% url 'trending_images' %}">
                        <i class="fas fa-eye"></i>
                        <p>Most Viewed</p>
                    </a>
                    <a href="{% url 'tag_dashboard' %}">
                        <i class="fas fa-chart-line"></i>
                        <p>Tag Analytics</p>
                    </a>
                    <a href="{% url 'upload_pdf_view' %}">
                        <i class="fas fa-book"></i>
                        <p>Upload PDF</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="mx-4 mt-2">
                    <a target="_blank"
                        href="https://github.com/KamaljeetSahoo/Project-Aperture" 
                        class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fab fa-github"></i> </span>Github Repository</a> 
                </li>
            </ul>
        {% else %}
            <ul class="nav nav-primary">
                <li class="mx-4 mt-2">
                    <a href="{% url 'login' %}" 
                        class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-user-plus"></i> </span>LOGIN</a> 
                </li>
                <li class="mx-4 mt-2">
                    <a href="{% url 'register' %}" 
                        class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-user-plus"></i> </span>SIGN UP</a> 
                </li>
            </ul>
        {% endif %}	
        </div>
    </div>
</div>
<!-- End Sidebar -->
