{% extends "layouts/base1.html" %}

{% block title %}Add Image{% endblock title %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Semantic Search through pdfs</h4>
            <form action="{% url 'search_results' %}" method="POST">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg"><button type="submit" class="btn btn-primary btn-xl">Search</button></span>
                </div>
                {% csrf_token %}
                <input type="text" required name="search" class="form-control" placeholder="Search Images through PDFs..." aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            </form>
            {% if search_results %}
            <div class="container mt-5">
                <h4 class="page-title">Search Results</h4>
            </div>
            {% if corrected %}
                <h2><span class="text-danger">Did You Mean ???  &nbsp; &nbsp;</span><span class="text-warning">{{DidYouMean}}</span></h2>
                <h4>Showing Results for <b class="text-primary">{{DidYouMean}}</b></h4>
            {% endif %}
            {% for img in related_images %}
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div class="card card-round card-post">
                        <a href="/edit_image_pdf/{{img.id}}/">
                            <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap">
                        </a>
                            <div class="card-body text-center">
                                <div class="text-center">
                                    {% for caption in img.caption.all %}
                                        {{ caption.description }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="separator-solid"></div>
                            <div class="d-flex">
                                <div class="info-post ml-2 mb-3">
                                    {% for t in img.tag.all %}
                                    <button class="btn btn-rounded btn-primary btn-sm mt-1">{{t.tag_name}}</button>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-post card-round">
                        <div class="car-body text-center">
                            <embed
                                src="{{ img.pdf_file_set.all.0.pdf.url }}"
                                type="application/pdf"
                                frameBorder="0"
                                scrolling="auto"
                                width="100%"
                                height="600px"
                            ></embed>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}