{% extends "layouts/base1.html" %}

{% block title %}Add Image{% endblock title %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Upload PDF file</h4>
            <form method="POST" enctype="multipart/form-data" action="{% url 'pdf_upload' %}">
                {% csrf_token %}
                <input type="file" accept="application/pdf" name="uploaded_pdf_file" required>
                <button class="btn btn-xl btn-primary" type="submit">Upload PDF</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}