{% extends "layouts/base1.html" %}

{% block title %}Upload Video{% endblock title %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Upload Video file</h4>
            <form method="POST" enctype="multipart/form-data" action="{% url 'video_upload' %}">
                {% csrf_token %}
                <input type="file" accept="video/*" name="uploaded_video_file" required>
                <button class="btn btn-xl btn-primary" type="submit">Upload PDF</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}